fastapi==0.116.0
grpcio-status==1.73.1
httptools==0.6.4
langchain-chroma==0.2.4
langchain-community==0.3.27
langchain-google-genai==2.1.7
langchain-google-vertexai==2.0.27
pip==25.1.1
psycopg2==2.9.10
watchfiles==1.1.0
